.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.result-image {
    width: 15%;
    margin: 0 .5em;
}
.result {
    color: mediumspringgreen;
    font-size: 1.5rem;
    font-weight: 500;
}
#lose-text {
    color: red;
}