* {
	margin: 0;
	box-sizing: border-box;
}
svg path, svg circle {
	stroke: #000;
	stroke-width: 0.25;
	stroke-linecap: round;
	fill: none;
}
#wrapper {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
	background-color: #2d2d2d;
    min-height: 100vh;
}
.hangman-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
	background-color: #fff;
	width: 70%;
	height: 70%;
	min-height: 40em;
	border-radius: 30px;
}
.hangman-title {
	margin: 1em;
	font-size: 3rem;
}
button {
    margin: 5px;
    min-width: fit-content;
    width: 3em;
    height: 3em;
	color: black;
    border-radius: 2px;
    text-transform: uppercase;
    background-color: #fff;
    filter: drop-shadow(0px 0px 2px grey);
}
#keyboard {
    width: 40%;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
}
#keyboard-text {
	width: 39%;
	margin: 2em 0 .5em;
}
#button-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 3em;
}
.game-btn {
	min-width: 11em;
}
#new-game-container {
	width: 40%;
    font-size: 1.5rem;
    flex-wrap: wrap;
    text-align: center;
}
.hide {
	display: none;
}
#word-select-container {
	width: 25%;
    margin: 5em;
    transform: scale(1.4);
}
#play-btn {
	background-color: black;
	color: #fff;
	position: absolute;
    width: 70%;
    margin: 3em;
    border-radius: 10px;
    border: none;
	font-size: .8rem;
}
#mistakes {
	margin: 2em 0 0;
}