* {
	margin: 0;
	box-sizing: border-box;
}
svg path, svg circle {
	stroke: #000;
	stroke-width: .55px;
	stroke-linecap: square;
	fill: none;
}
svg {
	height: 20%;
}
.hangman-state {
	position: absolute;
    left: 0;
    margin: 3.5em 2em 0 2em;
}
#wrapper {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
	background-color: #2d2d2d;
    min-height: 100vh;
	background-image: url(../Images/logo.png);
	background-size: 28em;
    background-repeat: no-repeat;
    background-position: left -10% bottom -15%;
}
.hangman-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
	background-color: #fff;
	width: 60%;
	max-width: 55em;
	height: 80%;
	border-radius: 30px;
	position: absolute;
	padding: 3em 0;
}
.hangman-title {
	margin: 1em 0 .5em;
	font-size: 3rem;
}
#hangman-main-container {
	align-items: center;
    display: flex;
    flex-flow: column;
    width: 100%;
}
button {
    margin: 5px;
    min-width: fit-content;
    width: 3em;
    height: 3em;
	color: black;
    border-radius: 2px;
    text-transform: uppercase;
    background-color: #fff;
    filter: drop-shadow(0px 0px 2px grey);
}
#new-game-btn {
	background-color: #000;
    color: #fff;
}
#keyboard {
    width: 40%;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
}
#keyboard-text {
	width: 39%;
	margin: 2em 0 .5em;
}
#button-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 3em;
}
.game-btn {
	min-width: 11em;
}
#new-game-container {
	width: 40%;
    font-size: 1.5rem;
    flex-wrap: wrap;
    text-align: center;
	margin-top: 1.5em;
}
.hide {
	display: none !important;
}
.disabled {
	pointer-events: none;
}
#word-select-container {
	width: 25%;
    margin: 5em;
    transform: scale(1.4);
}
#play-btn {
	background-color: black;
	color: #fff;
	position: absolute;
    width: 70%;
    margin: 3em;
    border-radius: 10px;
    border: none;
	font-size: .8rem;
}
#mistakes {
	margin: 2em 0 0;
}
#instructions {
	/* width: 40%;
	height: 45em;
	position: relative;
	z-index: 1;
	text-align: end; */
	width: 45%;
    height: 30%;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    position: absolute;
	text-transform: uppercase;
	font-weight: 500;
}
#right-arrow {
	width: 10%;
	margin: 1em;
	cursor: pointer;
}
#instructions-container {
    width: 60%;
	text-align: center;
	max-height: 95%;
	margin-top: 1.5em;
}
#instruction-title {
	margin: 1em;
	font-size: 2rem;
}
#instruction-btn {
	margin-top: 4em;
    background: #000;
    color: #fff;
    border-radius: 10px;
    padding: 0 4em;
}